/* Sprite */
.radio, .drop li, .slct, .check {
  background: url(../img/sprite.png) 0 0 no-repeat;
}

/* Form */
.customForm {

}

.customForm input, .customForm textarea {

}

/* = Input */
input, textarea, .slct {
  font-size: $main-size;
  line-height: $main-Height;
  background-color: $input-background;
  font-family: $main-font;
  @include border-radius($input-radius);
  border: $input-border;
  color: $text-color;
  padding: $input-padding;
  &:focus {
    outline: none;
    border: $input-border-focused;
  }
  &:active {
    outline: none;
    border: $input-border-focused;
  }

}
.valid {

}

button {
  font-size: $main-size;
  line-height: $main-Height;
  //background-color: $white-color;
  font-family: $main-font;
  @include border-radius($input-radius);
  cursor: pointer;
  //color: $btn-color;
  //border-color: $btn-color;
  padding: $input-padding;
  &:hover{
    //background-color: $btn-color;
    //color: $white-color;
  }
}

.upload__block {
  cursor: pointer;
}

label {
  font-size: $main-size;
  line-height: $main-Height;
  color: $main-color;
  padding: $input-padding;
}

.input__error {
  border: 1px solid $error-color;
}

label.input__error {
  border: none;
  display: block;
  color: $error-color;
  padding: 5px 11px;
}

textarea {
  display: block;
  /* = Убираем скролл */
  overflow: auto;
  /* = Убираем увеличение */
  resize: none;
  /* = Добавим фон, рамку, отступ */
}

/* = Переключатели Radio Button */
.radio {
  display: block;
  height: 28px;
  background-position: 0 -52px;
  color: $main-color;
  line-height: 30px;
  font-family: $main-font;
  font-size: $main-size;
  cursor: pointer;
  text-indent: 26px;
}

.radio.active {
  background-position: 0 -82px;
}

.radio.error {
  border-color: #ff0000;
}

/*	=	CheckBox */
/* Стилизируем чекбокс, точнее скрываем его */
.check input[type=checkbox] {
  position: absolute;
  left: -10000px;
}

.check {
  background-position: 0 3px;
  padding-left: 25px;
  cursor: pointer;
  position: relative;
}

.check.active {
  background-position: 0 -27px;
}

/*	=	Select */
.slct {
  display: block;
  background-position: 290px -145px;

  /*
      Супер финт обрезаем текст
      чтобы не вылезал за рамку
  */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;

}

.slct.active {

}

.drop {
  padding: 0;
  border-top: none;
  display: none;
  background: $input-background;
  border-radius: $input-radius;
  @include box-shadow($input-shadow);
}

.drop li {
  list-style: none;
  cursor: pointer;
  display: block;
  color: #444;
  font-size: $main-size;
  padding: $input-padding;
  background-image: none;
  -moz-background-image: none;
  -o-background-image: none;
  -webkit-background-image: none;

}

.drop li:hover {
  background-color: $input-background-hover;
}

/* работаем с инпутом который конкретно file */
.upload__input-hidden {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  z-index: 2;
}

.upload__input {
  display: inline-block;
  vertical-align: top;
  background: none;
  border: none;
}

/* Стилизируем инпут и кнопку которые под загрузчиком */
.upload__btn {
  z-index: 1;
  color: $btn-color;
  vertical-align: top;
  background-color: $white-color;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: inline-block;
  border-color: $btn-color;
  &.button-hover{
    background-color: $btn-color;
    color: $white-color;
  }
}
.btn{
  &__large{
    border-color: $btn-color;
    background-color: $btn-color;
    color: $white-color;
    text-transform: uppercase;
    padding: $btn-padding-l;
    &:hover{
      background-color: $btn-color-enabled;
    }
  }
  &__normal{
    border-color: $btn-color;
    background-color: $btn-color;
    color: $white-color;
    text-transform: uppercase;
    padding: $btn-padding-m;
    &:hover{
      background-color: $btn-color-enabled;
    }
  }
  &__small{
    border-color: $btn-color;
    background-color: $btn-color;
    color: $white-color;
    padding: $btn-padding-s;
    &:hover{
      background-color: $btn-color-enabled;
    }
  }
}
.file-load-block .button-hover {
  box-shadow: 0 0 2px #ccc;
}

.language{
  &__selected{
    background-color: $info-background;
    color: $white-color;
    font-size: $main-size;
    &:focus {
      background-color: $language-dark;
    }
    &:active {
      background-color: $language-dark;
    }
  }
}