@charset "UTF-8";
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

* {
  font-family: "Ubuntu-R", Serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container-fluid {
  max-width: 1920px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

#myTabs li {
  display: inline-block;
}

.relative {
  position: relative;
}

::-webkit-input-placeholder {
  color: #a5b5c5;
  font-family: "Ubuntu-R";
  font-size: 14px;
  line-height: 18px;
}

::-moz-placeholder {
  color: #a5b5c5;
  font-family: "Ubuntu-R";
  font-size: 14px;
  line-height: 18px;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #a5b5c5;
  font-family: "Ubuntu-R";
  font-size: 14px;
  line-height: 18px;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #a5b5c5;
  font-family: "Ubuntu-R";
  font-size: 14px;
  line-height: 18px;
}

h1, .h1 {
  font-family: "Ubuntu-M";
  font-size: 24px;
  line-height: 36px;
}

h2, .h2 {
  font-family: "Ubuntu-M";
  font-size: 24px;
  line-height: 36px;
}

h3, .h3 {
  font-family: "Ubuntu-R";
  font-size: 24px;
  line-height: 36px;
}

body {
  margin: 0;
  font-size: 0px;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  margin: 0px;
  padding: 0px;
}

a:active,
a:hover {
  outline: 0;
}

a, p, span, i {
  font-size: 14px;
  margin: 0px;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  display: block;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #4f99ef;
  -webkit-border-top-left-radius: 5px;
  -moz-border--top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border--top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

@media (max-width: 1200px) {
  .container {
    display: block;
    margin: 0 auto;
    max-width: 860px;
  }
}

@font-face {
  font-family: 'Ubuntu-B';
  src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: 'Ubuntu-R';
  src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'Ubuntu-M';
  src: url(../fonts/Ubuntu-Medium.ttf);
}

.footer {
  background-color: #3a5d82;
  padding: 10px 0px;
}

.footer__columns {
  text-align: center;
}

.footer__column {
  display: inline-block;
  vertical-align: top;
  padding: 0px 50px;
}

.footer__left {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.footer__img {
  text-align: left;
}

.footer__right {
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

.footer__list__item {
  text-align: left;
}

.footer__list__item a {
  padding: 10px 0px;
  display: block;
}

.footer__list__item a.bold {
  font-family: "Ubuntu-B";
}

.bottom-bar {
  text-align: center;
  background-color: #28415b;
  padding: 20px 0px;
}

.bottom-bar p {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
}

.header {
  background: #3a5d82;
}

.header .container > div {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
}

.header__right {
  width: 40%;
}

.header__left {
  width: 60%;
  padding-left: 125px;
}

.header__right > div > div {
  vertical-align: middle;
  display: inline-block;
}

.header__school {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 12px;
  padding: 0px 40px;
  line-height: 50px;
  background-color: #4f99ef;
  overflow: hidden;
}

.header__school:before {
  content: '';
  height: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  border-style: solid;
  border-width: 50px 26px 0 0;
  border-color: #3a5d82 transparent transparent transparent;
  line-height: 0px;
  _border-color: #3a5d82 #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.header__school:after {
  content: '';
  width: 0px;
  bottom: 0px;
  height: 0px;
  position: absolute;
  right: 0px;
  border-style: solid;
  border-width: 0 0 50px 26px;
  border-color: transparent transparent #3a5d82 transparent;
  line-height: 0px;
  _border-color: #000000 #000000 #3a5d82 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.header__school:hover {
  background-color: #3b7ac2;
}

.profile_mini_photo {
  width: 37px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.profile_mini_messages {
  margin-right: 22px;
}

.profile_mini_user a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.profile_mini_settings {
  margin-right: 15px;
}

.sidebar {
  background-color: #00b3ee;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1330px;
}

aside {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.main_content {
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

/* Sprite */
.radio, .drop li, .slct, .check {
  background: url(../img/sprite.png) 0 0 no-repeat;
}

/* Form */
/* = Input */
input, textarea, .slct {
  font-size: 14px;
  color: #55687c;
  line-height: 18px;
}

*:focus {
  outline: none;
}

.custom-input, .custom-textarea, .slct {
  font-size: 14px;
  line-height: 18px;
  background-color: #eaf1f9;
  font-family: "Ubuntu-R";
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eaf1f9;
  color: #55687c;
  padding: 11px 15px;
}

.custom-input:focus, .custom-textarea:focus, .slct:focus {
  outline: none;
  border: 1px solid #c5cfda;
}

.custom-input:active, .custom-textarea:active, .slct:active {
  outline: none;
  border: 1px solid #c5cfda;
}

.custom-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Ubuntu-R";
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 11px 15px;
}

button {
  padding: 11px 15px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  background-color: #ffffff;
  font-family: "Ubuntu-R";
  border: 1px solid #393d45;
}

.upload__block {
  cursor: pointer;
}

label {
  font-size: 14px;
  line-height: 18px;
  color: #393d45;
  padding: 11px 15px;
}

.input__error {
  border: 1px solid #f24841;
}

label.input__error {
  border: none;
  display: block;
  color: #f24841;
  padding: 5px 11px;
}

textarea {
  display: block;
  /* = Убираем скролл */
  overflow: auto;
  /* = Убираем увеличение */
  resize: none;
  /* = Добавим фон, рамку, отступ */
}

/* = Переключатели Radio Button */
.radio {
  display: block;
  height: 28px;
  background-position: 0 -52px;
  color: #393d45;
  line-height: 30px;
  font-family: "Ubuntu-R";
  font-size: 14px;
  cursor: pointer;
  text-indent: 26px;
}

.radio.active {
  background-position: 0 -82px;
}

.radio.error {
  border-color: #ff0000;
}

/*	=	CheckBox */
/* Стилизируем чекбокс, точнее скрываем его */
.check input[type=checkbox] {
  position: absolute;
  left: -10000px;
}

.check {
  background-position: 0 3px;
  padding-left: 25px;
  cursor: pointer;
  position: relative;
}

.check.active {
  background-position: 0 -27px;
}

/*	=	Select */
.slct {
  display: block;
  background-position: 290px -142px;
  /*
      Супер финт обрезаем текст
      чтобы не вылезал за рамку
  */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.custom-select {
  padding: 0;
  border-top: none;
  display: none;
  background: #eaf1f9;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
  -ms-box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
  -o-box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
  box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
}

.custom-select__li {
  list-style: none;
  cursor: pointer;
  display: block;
  color: #444;
  font-size: 14px;
  padding: 11px 15px;
  background-image: none;
  -moz-background-image: none;
  -o-background-image: none;
  -webkit-background-image: none;
}

.custom-select__li:hover {
  background-color: #d9e4f0;
}

.drop {
  padding: 0;
  border-top: none;
  display: none;
  background: #eaf1f9;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
  -ms-box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
  -o-box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
  box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
}

.drop li {
  list-style: none;
  cursor: pointer;
  display: block;
  color: #444;
  font-size: 14px;
  padding: 11px 15px;
  background-image: none;
  -moz-background-image: none;
  -o-background-image: none;
  -webkit-background-image: none;
}

.drop li:hover {
  background-color: #d9e4f0;
}

/* работаем с инпутом который конкретно file */
.upload__input-hidden {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  z-index: 2;
}

.upload__input {
  display: inline-block;
  vertical-align: top;
  background: none;
  border: none;
}

/* Стилизируем инпут и кнопку которые под загрузчиком */
.upload__btn {
  z-index: 1;
  color: #4f99ef;
  vertical-align: top;
  background-color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: inline-block;
  border: 1px solid #4f99ef;
}

.upload__btn.button-hover {
  background-color: #4f99ef;
  color: #ffffff;
}

.btn__large {
  border-color: #4f99ef;
  background-color: #4f99ef;
  color: #ffffff;
  text-transform: uppercase;
  padding: 11px 15px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.btn__large:hover {
  background-color: #3b7ac2;
}

.btn__normal {
  border-color: #4f99ef;
  background-color: #4f99ef;
  color: #ffffff;
  text-transform: uppercase;
  padding: 11px 15px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.btn__normal:hover {
  background-color: #3b7ac2;
}

.btn__small {
  border-color: #4f99ef;
  background-color: #4f99ef;
  color: #ffffff;
  padding: 11px 15px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.btn__small:hover {
  background-color: #3b7ac2;
}

.file-load-block .button-hover {
  -webkit-box-shadow: 0 0 2px #ccc;
          box-shadow: 0 0 2px #ccc;
}

.language {
  display: inline-block;
  vertical-align: middle;
}

.language__selected {
  background: url(../img/sprite.png) 0 0 no-repeat;
  background-color: transparent;
  color: #ffffff;
  border: none;
  display: block;
  width: 100%;
  font-size: 14px;
  padding-left: 8px;
  background-position: 40px -180px;
}

.language__selected:focus {
  border: none;
  background-color: transparent;
}

.language__selected:active {
  border: none;
  background-color: transparent;
}

.language__wrapper {
  position: relative;
  min-width: 58px;
}

.language__items {
  cursor: pointer;
  position: absolute;
  display: none;
  left: 0px;
  top: 24px;
  right: 0px;
  background: #28415b;
  padding: 0px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
  -ms-box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
  -o-box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
  box-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-width: 58px;
}

.language__item {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding: 7px 15.5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.language__item:first-child {
  padding-top: 12px;
}

.language__item:last-child {
  padding-bottom: 12px;
}

.language__item:hover {
  background-color: #3a5d82;
}

.search {
  -webkit-border-radius: 18.5px;
  border-radius: 18.5px;
  background-color: #28415b;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0px 15px;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.search__input {
  padding-left: 20px;
  line-height: 36px;
  border: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #28415b;
  color: #ffffff;
  width: 214px;
}

.search__submit {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  padding: 0px 0px;
  border: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #28415b;
}

.search ::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Ubuntu-R";
  font-size: 14px;
  line-height: 36px;
}

.search ::-moz-placeholder {
  color: #ffffff;
  font-family: "Ubuntu-R";
  font-size: 14px;
  line-height: 36px;
}

.search :-moz-placeholder {
  color: #ffffff;
  font-family: "Ubuntu-R";
  font-size: 14px;
  line-height: 36px;
}

.search :-ms-input-placeholder {
  color: #ffffff;
  font-family: "Ubuntu-R";
  font-size: 14px;
  line-height: 36px;
}

.top_messages__span {
  background: #f24841;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  font-style: normal;
  display: block;
  position: absolute;
  top: -13px;
  right: -13px;
  font-size: 12px;
  color: #ffffff;
  height: auto;
  width: 22px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
}

#help img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.search-icon img {
  width: 15px;
  height: 15px;
  display: block;
}

i {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/*# sourceMappingURL=../css/main.css.map */
