@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    -o-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin border-top-left-radius($top-left-radius) {
    -webkit-border-top-left-radius: $top-left-radius;
    -moz-border--top-left-radius: $top-left-radius;
    -ms-border-top-left-radius: $top-left-radius;
    border-top-left-radius: $top-left-radius;
}
@mixin border-top-right-radius($top-right-radius) {
    -webkit-border-top-right-radius: $top-right-radius;
    -moz-border--top-right-radius: $top-right-radius;
    -ms-border-top-right-radius: $top-right-radius;
    border-top-right-radius: $top-right-radius;
}