//grid
$container-width: 75%;
$aside-width: 25%;
//Colors
$main-color: #393d45;
$text-color: #55687c;
$background-color: #3a5d82;
$white-color: #ffffff;
$info-background: #28415b;
//btn colors
$btn-color: #4f99ef;
$btn-color-enabled: #3b7ac2;
$btn-color-disabled: #a2c6f0;
//input colors
$success-color: #14ff2c;
$error-color: #f24841;
$input-background: #eaf1f9;
$input-background-hover: #d9e4f0;
$input-border: 1px solid #eaf1f9;
$input-border-focused: 1px solid #c5cfda;
$placeholder-color: #a5b5c5;
//input styles
$input-padding: 11px 15px;
$search-width: 214px;
//language
$language-dark: #1d2e41;
$language-padding: 7px 23px 7px 8px;
$language-minwidth: 58px;
//Fonts
$main-font: 'Ubuntu-R';
$bold-font: 'Ubuntu-B';
$medium-font: 'Ubuntu-M';
//Font-size and lineHeight
$h1-size: 24px;
$h1-height: 36px;
$menu-size: 14px;
$menu-height: 24px;
$main-size: 14px;
$main-Height: 18px;
$breadcrumbs-size: 12px;
$breadcrumbs-height: 18px;
$search-height: 36px;
$header-height: 50px;
//borders and shadows
$input-shadow: 0px 2px 15px 0px rgba(36, 74, 119, 0.4);
$input-radius: 5px;
$search-radius: 18.5px;

$i: 10;
@while $i < 101 {
  .mb-#{$i} {
    margin-bottom: $i + px;
  }
  $i: $i + 10;
}

$i: 10;
@while $i < 101 {
  .mt-#{$i} {
    margin-top: $i + px;
  }
  $i: $i + 10;
}