@import "variables-functions-and-mixins";
@import "mixins";
//::selection { background: rgba($green-color, .5); }
* { font-family: $main-font, Serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.container-fluid {max-width: 1920px;}
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }
.float-right{
  float: right;
}
.float-left{
  float: left;
}
@import 'media';
@import "fonts";
@import "common_blocks/_footer.scss";
@import "common_blocks/_header.scss";
@import "common_blocks/_sidebar.scss";
@import "common_blocks/_grid.scss";
@import "common_blocks/_inputs.scss";
@import "common_blocks/_icons.scss";