<aside>
    <div class="sidebar">
        <div class="menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/administration.png"></i>
                        Адмiнiстрацiя
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/teachers.png"></i>
                        Вчителi
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/classes.png"></i>
                        Класи
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/skillls.png"></i>
                        Гуртки
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/desk.png"></i>
                        Розклад
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/news.png"></i>
                        Новини
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/files.png"></i>
                        Файловий архів
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/album.png"></i>
                        Фотоальбоми
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
